* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #086788;
    color:#FFF;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid #004961;
}

#navbar ul {
    display:flex;
    list-style-type: none;
}

#navbar ul li {
    margin-left: 2em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    color:#086788;
}

#navbar ul li a:hover {
    color:#00b5f1
}

.container {
    min-height: 60vh;
    padding: 2em;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #024157;
    background-color: #004961;
}

span {
    color: #FFF;
    font-weight: bold;
}

.auth-container {
    max-width:450px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    padding: 0.3em;
    width: 300px;
}

.auth-container a {
    color:#fff;
    font-weight: bold;
}

.auth-container a:hover {
    color:#00b5f1;
    font-weight: bold;
}

.form-control {
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label {
    font-weight: 600;
    margin-bottom: 0.5em;
}

input {
    border-radius: 10px;
    height:30px;
    padding: 7px;
    border: 1px solid #00b5f1;
    font-size: medium;
}

form input[type="submit"], .btn {
    background-color: rgb(3, 167, 58);
    color: white;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    border: 1px solid rgb(3, 167, 58);
    margin-bottom: 3em;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    transition:0.5s;
}

form input[type="submit"]:hover, .btn:hover {
    background-color: white;
    color: #00b5f1;
    border: 2px solid #00b5f1;
}

.message {
    padding:1em;
    color:#c0000a;
    background-color: #ffccd7;
    border: 1px solid #ffb8c2;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 2em;
    max-width: 60%;
}